@model Cloth_Rental_System.Models.Order_Product_Model

@{
    ViewBag.Title = "Rent_Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Content_Header{
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Rent Product</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Product Order</a></li>
                    <li class="breadcrumb-item active">Rent Product</li>
                </ol>
            </div>
        </div>
    </div>
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Rent Product</h3>
    </div>
    <div>

    </div>
    <div class="ajax_form_submit">
        @*@using (Ajax.BeginForm("Rent_Product", "Product_Order", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEmp" }))*@
        @using (Html.BeginForm("Rent_Product", "Product_Order", FormMethod.Post, new { enctype = "multipart/form-data", @id = "Create_Order_form" }))

        {
            <div class="card-body">


                    <div class="form-group col-md-10">
                        <label for="exampleInputEmail1">Customer Name</label>
                            @Html.DropDownListFor(m => m.Product.userList, Model.Product.userList, "Please select Customer", new { @class = "form-control", @id = "customer_dropdown" })


                        
                        @*                    @{Html.RenderAction("_User_DropDown", "Product_Order");}*@

                    </div>

                <div class="row">

                    <div class="form-group col-md-5">
                        <label for="exampleInputEmail1">Order Date</label>
                        <input type="datetime-local" name="Ord_Date" id="ord_Date" class="form-control" />
                    </div>
                    
                
                
                    <div class="form-group col-md-5">
                        <label for="exampleInputEmail1">Return Date</label>
                        <input type="datetime-local" name="Return_Date" id="Return_Date" class="form-control" />
                    </div>
                    </div>
               
                <div>
                    <div class="col-12">
                        <h1>Select Product</h1>
                    </div>
                </div>
                <table id="ProductList">
                    <thead>
                        <tr>
                            <th class="font-weight-bolder">Select Product</th>
                            <th class="font-weight-bolder" id="sel_prd">Product Rent</th>
                            <th class="font-weight-bolder" id="sel_prd">Advance Rent</th>
                            <th class="font-weight-bolder" id="sel_prd">Diopsit</th>

                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("_rent_Order", Model.Product)
                        @*<tr>


                            <td>Total Amount:-</td>
                            <td>@Html.TextBoxFor(m => m.Total_Rent,new { @class = "form-control mx-3" ,@style = "width:94%" })</td>
                            <td>@Html.TextBoxFor(m => m.Total_Advance_Rent, new { @class = "form-control mx-3", @style = "width:94%" })</td>
                            <td>@Html.TextBoxFor(m => m.Total_Diposit, new { @class = "form-control mx-3", @style = "width:94%" })</td>
                        </tr>*@
                    </tbody>
                </table>
                <div>
                    <div class="row">
                        <div class="col-sm-2  "><h3 class="mx-1 my-1">Total Amount:-</h3></div>
                        <div class="col-sm-2 m-3" style="padding:0px !important;"><input type="text" class="form-control" id="totalRent"/></div>
                        <div class="col-sm-2 mx-0 my-3"style="padding:0px !important;"><input type="text"class="form-control" id="totalAdvanceRent" /></div>
                        <div class="col-sm-2 my-3 mx-4"style="padding:0px !important;"><input type="text" class="form-control"  id="totalDeposit" /></div>
                    </div>

                </div>

                <div class="form-group Add_product_class my-lg-3">
                    <input type="button" value="+ Add Product" class=" btn btn-outline-primary" id="add_Product" />
                </div>



            </div>
        }
    </div>
            <div class="card-footer">
                <button class="btn btn-secondary" id="submit_product">Submit</button>
                    @*<input type="button" value="Calculate" class=" btn btn-outline-primary" id="Calculate" />*@
                <a href="manage_rent_order" class="Button btn btn-outline-secondary  mx-5">Back to Category List</a>
            </div>
       
    </div>
    <script>
        
        //    var sum = 0;
        //    $(".Total_Rent").each(function () {
        //        sum += parseFloat($(this).text());
        //    });
        //$('#Total_Rent').text(sum);
       
    //submit data
        $(document).ready(function () {
            
            //$('#Calculate').click(function () {
            //    debugger;
            //    var sum = 0;
            //    $(".Total_Rent").each(function () {
            //        sum += parseFloat($(this).text());
            //    });
            //    $('#Total_Rent').text(sum);
            //});

        $('#submit_product').click(function () {
            //Loop through the Table rows and build a JSON array.
            var Order_Product_Model = {};
            Order_Product_Model.Customer_Id = $("#customer_dropdown").val();
            Order_Product_Model.Ord_Date = $("#ord_Date").val();
            Order_Product_Model.Ord_Time = $("#Ord_Time").val();
            Order_Product_Model.Return_Date = $("#Return_Date").val();
            Order_Product_Model.Return_Time = $("#Return_time").val();
            Order_Product_Model.Total_Rent = $("#totalRent").val();
            Order_Product_Model.Total_Advance_Rent = $("#totalAdvanceRent").val();
            Order_Product_Model.Total_Diposit = $("#totalDeposit").val();

           
            var products = new Array();
            $("#ProductList TBODY TR").each(function () {
                
                var row = $(this);
                var product = {};
                var text = row.data("id");

                product.PrdId = $('#DropSearch_1 ').children("option:selected").val();

                product.rentPrice = $('tr[data-id="' + text + '"]').find('td>input[id="Product_rentPrice"]').val();
                product.advanceRent = $('tr[data-id="' + text + '"]').find('td>input[id="Product_advanceRent"]').val();
                product.diposit = $('tr[data-id="' + text + '"]').find('td>input[id="Product_diposit"]').val();
                product.PrdId = $('tr[data-id="' + text + '"]').find('td>select[id="DropSearch_1"]').val();
                products.push(product);
                console.log(product.PrdId);
                console.log(product);
            });
            Order_Product_Model.productList = products;
         

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Product_Order/Rent_Product",
                data: JSON.stringify(Order_Product_Model),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                }
            });
          
        });

     //ADD product

            $(document).on('click', '#add_Product', function (e) {
                var test1 = $('#ProductList tr:last').data('id');
                console.log("this is you looking for " + test1);
            $.ajax({
                url: '/Product_Order/_rent_Order',
                data: {
                    chnId: $('#ProductList tr:last').data('id'),
                    //chnId: parseInt($("#ProductList tbody>tr").length)
                },
                success: function (partialView) {
                    if (test1 == 1) {
                        $('#delete_data').remove();
                    }
                    $('#ProductList tbody').append(partialView);

                },
                error: function (partialView) {
                    alert("error")
                }
            });
        });

        @*Assign value*@

            $(document).on("change", 'input, select', function ()
            //$(document).on("change", '#DropSearch_1', function ()
            {
                //debugger;

                var ProductId = $(this).val();
                console.log(ProductId);
                    var $row = jQuery(this).closest("tr");
                    var text = $row.data("id");
                if (ProductId != '') {




                    $.ajax({
                        type: 'POST',
                        dataType: 'JSON',
                        url: '@Url.Action("Product_data", "Product_Order")',
                        data: { ProductId: parseInt(ProductId) },
                        success:
                            function (response) {
                                // Generate HTML table.
                                $('tr[data-id="' + text + '"]').find('td>input[id="Product_rentPrice"]').val(response.rentPrice);
                                $('tr[data-id="' + text + '"]').find('td>input[id="Product_advanceRent"]').val(response.advanceRent);
                                $('tr[data-id="' + text + '"]').find('td>input[id="Product_diposit"]').val(response.diposit);
                                //console.log(this);
                                //$('#Product_rentPrice').val(response.rentPrice);
                                //$('#Product_advanceRent').val(response.advanceRent);
                                //$('#Product_diposit').val(response.diposit );
                                var sumRentPrice = 0;
                                var sumAdvanceRent = 0;
                                var sumDeposit = 0;

                                $("#ProductList TBODY TR").each(function () {
                                    var row1 = $(this);
                                    var text1 = row1.data("id");

                                    sumRentPrice += parseInt($('tr[data-id="' + text1 + '"]').find('td>input[id="Product_rentPrice"]').val());
                                    sumAdvanceRent += parseInt($('tr[data-id="' + text1 + '"]').find('td>input[id="Product_advanceRent"]').val());
                                    sumDeposit += parseInt($('tr[data-id="' + text1 + '"]').find('td>input[id="Product_diposit"]').val());

                                });

                                $('#totalRent').val((isNaN(sumRentPrice)) ? 0 : sumRentPrice);
                                $('#totalAdvanceRent').val((isNaN(sumAdvanceRent)) ? 0 : sumAdvanceRent);
                                $('#totalDeposit').val((isNaN(sumDeposit)) ? 0 : sumDeposit);

                            },
                        error:
                            function (response) {
                                console.log(response);
                                alert("Error: " + response);
                            }
                    });
                }
                else {
                   
                    $("#ProductList TBODY TR").each(function () {
                        console.log("else is called");
                     

                      

                      var rentPrice  = parseInt($('tr[data-id="' + text + '"]').find('td>input[id="Product_rentPrice"]').val());
                     var advanceRent  = parseInt($('tr[data-id="' + text + '"]').find('td>input[id="Product_advanceRent"]').val());
                        var diposit = parseInt($('tr[data-id="' + text + '"]').find('td>input[id="Product_diposit"]').val());

                        $('tr[data-id="' + text + '"]').find('td>input[id="Product_rentPrice"]').val(0);
                        $('tr[data-id="' + text + '"]').find('td>input[id="Product_advanceRent"]').val(0);
                        $('tr[data-id="' + text + '"]').find('td>input[id="Product_diposit"]').val(0);

                       var totalRent = $('#totalRent').val();
                        var totalAdvanceRent = $('#totalAdvanceRent').val();
                        var totalDeposit = $('#totalDeposit').val();
                      
                        totalRent = totalRent - rentPrice;
                        totalAdvanceRent = totalAdvanceRent - advanceRent;
                        totalDeposit = totalDeposit - diposit;

                        $('#totalRent').val(totalRent);
                        $('#totalAdvanceRent').val(totalAdvanceRent);
                        $('#totalDeposit').val(totalDeposit);
                    });
                }
            });

            //Delete row 
            $(document).on("click", 'a', function () {
                console.log("delet button is clixked");
                var row = jQuery(this).closest("tr");
                var text = row.data("id");

                    var rentPrice = parseInt($('tr[data-id="' + text + '"]').find('td>input[id="Product_rentPrice"]').val());
                    var advanceRent = parseInt($('tr[data-id="' + text + '"]').find('td>input[id="Product_advanceRent"]').val());
                    var diposit = parseInt($('tr[data-id="' + text + '"]').find('td>input[id="Product_diposit"]').val());

                    var totalRent = parseInt($('#totalRent').val());
                    var totalAdvanceRent = parseInt($('#totalAdvanceRent').val());
                    var totalDeposit = parseInt($('#totalDeposit').val());

                    abc = totalRent - rentPrice;
                    def = totalAdvanceRent - advanceRent;
                    ghi = totalDeposit - diposit;

                    $('#totalRent').val((isNaN(totalRent)) ? 0 : abc);
                    $('#totalAdvanceRent').val(def);
                    $('#totalDeposit').val(ghi);

                    row.remove();
        });
        });
      
    </script>

    @section script{

    }
